@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
}

body {
  background-color: #cacaca;
  height: 100%;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
}

body {
  background-color: #cacaca;
  height: 100%;
  width: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 0 2rem;
  box-shadow: 0 5px 5px 0 rgba(50, 50, 50, 0.3);
  height: 5rem;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.925);
  justify-content: space-evenly;
  position: sticky;
  top: 10px;
  z-index: 1;
}
.header .carrito {
  margin-right: 4rem;
}
.header .carrito img {
  width: 30px;
}
.header .carrito img:hover {
  scale: 1.05;
  transform: translatey(-2px);
  transition: transform 0.3s;
}
.header .menu {
  height: 25px;
  margin-bottom: 8px;
}
.header .logo {
  width: auto;
  height: auto;
  margin-left: 4rem;
}
.header .logo img {
  align-items: center;
  position: relative;
  width: 9rem;
}
.header nav {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 2rem;
}
.header nav .busqueda {
  width: 14rem;
  height: 1.5rem;
  background-color: rgb(34, 34, 34);
  display: flex;
  flex-direction: row;
  border-radius: 1rem;
  margin: 10px;
  justify-content: space-around;
}
.header nav .busqueda .buscar {
  height: auto;
  width: 7rem;
  background: none;
  border: none;
  color: white;
}
.header nav .busqueda img {
  height: 1rem;
  width: auto;
  align-items: center;
  margin: auto;
}
.header nav .busqueda a {
  display: flex;
  align-items: center;
}
.header nav .icons {
  height: auto;
  width: 18%;
  display: flex;
  justify-content: space-around;
  padding-right: 1%;
}
.header nav .icons img {
  height: 2rem;
  width: auto;
}
.header nav .main-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  margin: 0 5px;
}
.header nav .main-menu a:hover {
  color: rgb(139, 139, 139);
  text-decoration: none;
  transition: 0.3s;
}
.header nav .main-menu li:hover {
  scale: 1.05;
  transform: translatey(-2px);
  transition: transform 0.3s;
}
.header nav .main-menu a {
  position: relative;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  margin: 0 1rem;
}
.header .toggle-menu {
  width: 30px;
  height: auto;
  cursor: pointer;
  display: none;
  margin-right: 2rem;
  font-size: 30px;
  color: white;
}

@media (max-width: 1140px) {
  .header {
    justify-content: start;
    align-items: center;
    padding: 14px;
    height: 5rem;
    border-radius: 2rem 2rem 0 0;
  }
  .header .logo {
    margin-left: 2rem;
  }
  .header nav {
    justify-content: center;
  }
  .header nav .main-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 79px;
    background-color: rgba(0, 0, 0, 0.733);
    backdrop-filter: blur(10px);
    width: 100vw;
    height: 70vh;
    left: -5px;
    padding: 30px;
    transform: translatey(-120%);
    border-radius: 0 0 3rem 3rem;
  }
  .header nav .main-menu li {
    margin: 1rem;
    justify-content: center;
    padding: 1.2rem;
  }
  .header nav .main-menu li a {
    font-size: 1.3rem;
  }
  .header nav .main-menu--show {
    transform: translatey(0);
    transition: transform 0.5s;
  }
  .header .carrito {
    margin-right: 2rem;
  }
  .header .toggle-menu {
    display: block;
  }
}
@media (max-width: 592px) {
  .header {
    justify-content: start;
    align-items: center;
    padding: 14px;
    height: 5rem;
  }
  .header .logo {
    margin-left: 2rem;
  }
  .header nav .navLinks {
    display: none;
  }
  .header nav .busqueda {
    display: none;
  }
}
.main {
  margin: calc(1rem + 10px);
}
.main .carousel {
  background-color: black;
  border-radius: 0 2rem;
  box-shadow: 0 2px 2px 0 rgb(75, 75, 75);
  z-index: 0;
}
.main .carousel .btn-main {
  border-radius: 5px 0;
}
.main .carousel .btn-main:hover {
  filter: invert(1);
  transition: filter 0.5s;
}
.main .carousel .active {
  color: white;
}
.main .carousel .d-img {
  display: flex;
  justify-content: center;
  margin: 0 20%;
  padding: auto;
  border-radius: 0 1rem;
  height: 25rem;
}
.main .carousel .d-md-block h3 {
  font-family: "Montserrat", sans-serif;
  color: #F4F3F0;
  font-weight: 700;
}
.main .carousel .d-md-block p {
  font-family: "Reboto", sans-serif;
  font-size: 18px;
  color: #F4F3F0;
  margin: none;
  font-weight: 400;
}
.main .carousel .carousel-caption {
  position: absolute;
  left: 50%;
  top: 30%;
}
.main .carousel .carousel-caption .d-md-block h3 {
  font-family: "Montserrat", sans-serif;
  color: #F4F3F0;
  font-weight: 700;
}
.main .carousel .carousel-caption .d-md-block p {
  font-family: "Reboto", sans-serif;
  color: #F4F3F0;
  margin: none;
  font-weight: 400;
}
.main .carousel .btn-resp {
  display: none;
}
.main .info-cont {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 3rem 0 0 0;
  border-radius: 0 2rem;
  box-shadow: 0 2px 2px 0 rgb(75, 75, 75);
}
.main .info-cont .info {
  display: flex;
  justify-content: center;
  background-color: black;
  border-radius: 0 2rem;
}
.main .info-cont .info h1 {
  background-color: black;
  color: rgb(255, 255, 255);
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 0;
}
.main .info-cont .info-2 {
  margin: 0 2rem 2rem 1rem;
}
.main .info-cont .info-2 h2 {
  font-family: "Montserrat", sans-serif;
  display: inline-block;
  margin: 1rem;
  font-size: 2rem;
}
.main .info-cont .info-2 p {
  font-family: "Reboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin-left: 1rem;
}

@media (max-width: 992px) {
  .main .carousel .carousel-inner .carousel-caption {
    position: absolute;
    top: 15%;
  }
  .main .carousel .carousel-inner .d-img {
    margin: 0 20%;
    border-radius: 0 1rem;
    height: 17rem;
  }
}
@media (max-width: 576px) {
  .main .carousel .carousel-inner {
    height: 20rem;
  }
  .main .carousel .carousel-inner .carousel-caption .btn-main {
    position: sticky;
    bottom: 10rem;
  }
  .main .carousel .carousel-inner .d-img {
    margin: 0 18%;
    height: 17rem;
  }
  .main .carousel .btn-resp {
    position: relative;
    display: inline;
    left: 4rem;
    bottom: 1rem;
    text-decoration: none;
  }
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem 0;
}
footer .pago-envio-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
footer .pago-envio-links .pago {
  height: 6rem;
  margin: 1rem;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.842);
  border-radius: 0 1rem;
  box-shadow: 0 3px 3px 0 rgba(50, 50, 50, 0.3);
}
footer .pago-envio-links .pago h4 {
  display: flex;
  margin: 5px 0 10px 0;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  font-size: large;
  font-weight: 600;
  color: white;
}
footer .pago-envio-links .pago img {
  height: 2rem;
  width: auto;
  border: 1px solid rgb(77, 77, 77);
  border-radius: 0 10px 0 10px;
}
footer .pago-envio-links .envio {
  height: 6rem;
  margin: 1rem;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.842);
  border-radius: 0 1rem;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.3);
}
footer .pago-envio-links .envio h4 {
  display: flex;
  margin: 5px 0 10px 0;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  font-size: large;
  font-weight: 600;
  color: white;
}
footer .pago-envio-links .envio img {
  height: 2rem;
  width: auto;
  border: 1px solid rgb(77, 77, 77);
  border-radius: 0 10px 0 10px;
}
footer .pago-envio-links .links-poli {
  padding: 1rem;
  width: 40%;
}
footer .pago-envio-links .links-poli .links {
  display: flex;
  flex-direction: row;
  width: 100%;
}
footer .pago-envio-links .links-poli .links h3 {
  font-family: "Montserrat", sans-serif;
  margin-right: 2rem;
  margin-bottom: 0;
}
footer .pago-envio-links .links-poli .links .links-redes {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto;
  height: auto;
}
footer .pago-envio-links .links-poli .links .links-redes a {
  margin: 0 0.8rem;
  width: auto;
}
footer .pago-envio-links .links-poli .links .links-redes a img {
  width: 30px;
  filter: invert(0.8);
}
footer .pago-envio-links .links-poli .links .links-redes a img:hover {
  scale: 1.05;
  transform: translatey(-2px);
  transition: transform 0.3s;
}
footer .pago-envio-links .links-poli .poli ul {
  display: flex;
  list-style-type: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  justify-content: space-evenly;
  margin: 1rem 0;
  padding: 0;
}
footer .pago-envio-links .links-poli .poli .text {
  text-decoration: none;
  color: black;
}
footer .pago-envio-links .links-poli .poli a {
  width: 30px;
}
footer .pago-envio-links .links-poli .poli a img {
  width: 100%;
}

@media (max-width: 1100px) {
  footer .pago-envio-links {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 552px) {
  footer .pago-envio-links {
    flex-direction: column;
    align-items: center;
  }
  footer .pago-envio-links .pago img {
    height: 1.8rem;
  }
  footer .pago-envio-links .envio img {
    height: 1.8rem;
  }
  footer .pago-envio-links .links-poli {
    width: 100%;
    flex-direction: column;
  }
  footer .pago-envio-links .links-poli .links {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  footer .pago-envio-links .links-poli .links h3 {
    margin-right: 0;
    margin-bottom: 5px;
  }
  footer .pago-envio-links .links-poli .poli ul li {
    margin: 0 1rem;
  }
}
* {
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
}

body {
  background-color: #cacaca;
  height: 100%;
  width: 100%;
}

.articulos {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.articulos h2 {
  border-radius: 0 2rem;
  box-shadow: 0 5px 5px 0 rgba(50, 50, 50, 0.3);
  margin: calc(1rem + 10px);
  background-color: black;
  color: rgb(255, 255, 255);
  padding: 0.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
}
.articulos .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}
.articulos .cards .card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  width: 17rem;
  background-color: white;
  border-radius: 0 2rem;
  box-shadow: 0 5px 5px 0 rgba(50, 50, 50, 0.3);
}
.articulos .cards .card .card-img-top {
  width: 100%;
  border-radius: 0 3rem 0 3rem;
  padding: 0 1rem 0 1rem;
}
.articulos .cards .card .card-body {
  margin: 8px 0 0 0;
  padding: 0;
}
.articulos .cards .card .card-body .card-title {
  font-family: "Montserrat", sans-serif;
  color: black;
  text-align: center;
  font-size: x-large;
}
.articulos .cards .card .card-body .card-text {
  color: black;
  text-align: center;
  font-family: "Reboto", sans-serif;
  font-size: large;
  font-weight: 600;
  margin: 6px 0 6px 0;
}
.articulos .cards .card .compra {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.articulos .cards .card .compra a {
  display: flex;
  justify-content: center;
  width: 12rem;
  margin: 5px 10px;
}
.articulos .cards .card .compra .btn {
  border-radius: 0 10px 0 10px;
  margin: 0 5px;
}
.articulos .cards .card .compra .btn:hover {
  filter: invert(1);
  transition: filter 0.5s;
}
.articulos .cards .card .compra .carro {
  width: 38px;
  height: 38px;
  background-color: #212529;
  padding: 5px;
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
  border-radius: 0 5px 0 5px;
}
.articulos .cards .card .compra .carro:hover {
  filter: invert(1);
  transition: filter 0.5s;
}
.articulos .cards .card .compra .carro .carro-img {
  width: 100%;
}

@media (max-width: 992px) {
  .articulos .cards {
    gap: 0.7rem;
  }
  .articulos .cards .card {
    width: 10rem;
  }
  .articulos .cards .card .card-img-top img {
    width: 9rem;
    margin: 0;
    border-radius: 0;
  }
  .articulos .cards .card .card-body .card-title {
    color: black;
    text-align: center;
    font-size: medium;
  }
  .articulos .cards .card a {
    display: flex;
    justify-content: center;
    width: 8rem;
    margin: 10px;
  }
  .articulos .cards .card .compra {
    width: 90%;
  }
  .articulos .cards .card .compra .carro {
    width: 56px;
  }
}
* {
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
}

body {
  background-color: #cacaca;
  height: 100%;
  width: 100%;
}

.title-2 {
  border-radius: 0 2rem;
  box-shadow: 0 5px 5px 0 rgba(50, 50, 50, 0.3);
  margin: calc(1rem + 10px);
  background-color: black;
  color: rgb(255, 255, 255);
  padding: 0.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
}

.info {
  border-radius: 0 2rem;
  box-shadow: 0 5px 5px 0 rgba(50, 50, 50, 0.3);
  display: flex;
  flex-direction: column;
  margin: 2rem 2rem;
  background-color: white;
  padding: 1rem;
}
.info h2 {
  border-radius: 0 2rem;
  box-shadow: 0 5px 5px 0 rgba(50, 50, 50, 0.3);
  margin: calc(1rem + 10px);
  background-color: black;
  color: rgb(255, 255, 255);
  padding: 0.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
}
.info .productos {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}
.info .productos .subproducto .imgs-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 1rem 0;
}
.info .productos .art-1 p {
  margin: 0 2rem;
  font-family: "Reboto", sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  color: black;
}
.info .productos .art-1 img {
  border-radius: 0 2rem;
  box-shadow: 0 5px 5px 0 rgba(50, 50, 50, 0.3);
  width: auto;
  height: 300px;
  margin-left: 15px;
}
.info .productos .art-2 img {
  border-radius: 0 2rem;
  box-shadow: 0 5px 5px 0 rgba(50, 50, 50, 0.3);
  width: auto;
  height: 300px;
  margin-left: 15px;
}
.info .productos .art-2 p {
  font-family: "Reboto", sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  margin: 0 2rem;
  color: black;
}
.info .productos .art-3 img {
  border-radius: 0 2rem;
  box-shadow: 0 5px 5px 0 rgba(50, 50, 50, 0.3);
  width: auto;
  height: 300px;
  margin-left: 15px;
}
.info .productos .art-3 p {
  font-family: "Reboto", sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  margin: 0 2rem;
  color: black;
}

@media (max-width: 1300px) {
  .info .productos {
    margin: 0;
  }
  .info .productos .subproducto .imgs-1 {
    flex-wrap: wrap;
    gap: 5px;
  }
}
@media (max-width: 1085px) {
  .info .productos {
    margin: 0;
  }
  .info .productos .subproducto .imgs-1 {
    flex-wrap: wrap;
    gap: 5px;
  }
  .info .productos .subproducto .imgs-1 img {
    height: 200px;
  }
}
@media (max-width: 576px) {
  .info .productos {
    margin: 0;
  }
  .info .productos .subproducto .imgs-1 {
    flex-wrap: wrap;
    gap: 5px;
  }
  .info .productos .subproducto .imgs-1 img {
    height: 150px;
  }
}
* {
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
}

body {
  background-color: #cacaca;
  height: 100%;
  width: 100%;
}

.informacion h2 {
  border-radius: 0 2rem;
  box-shadow: 0 5px 5px 0 rgba(50, 50, 50, 0.3);
  margin: calc(1rem + 10px);
  background-color: black;
  color: rgb(255, 255, 255);
  padding: 0.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
  text-align: center;
}
.informacion .product {
  border-radius: 0 2rem;
  box-shadow: 0 5px 5px 0 rgba(50, 50, 50, 0.3);
  display: flex;
  flex-direction: column;
  margin: 2rem;
  background-color: white;
  padding: 2rem;
  gap: 1rem;
}
.informacion .div-1 h3 {
  font-family: "Montserrat", sans-serif;
}
.informacion .div-1 p {
  font-family: "Reboto", sans-serif;
  margin: 0;
}
.informacion .div-1 img {
  height: 2rem;
  border-radius: 0 10px 0 10px;
  margin: 0 5px 5px 5px;
}
.informacion .div-2 h3 {
  font-family: "Montserrat", sans-serif;
}
.informacion .div-2 p {
  font-family: "Reboto", sans-serif;
  margin: 0;
}
.informacion .div-2 a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}
.informacion .div-3 h3 {
  font-family: "Montserrat", sans-serif;
}
.informacion .div-3 p {
  font-family: "Reboto", sans-serif;
  margin: 0;
}
.informacion .ilustracion {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
}
.informacion .ilustracion .product-img {
  width: 5%;
  margin: 0 1rem;
}

@media (max-width: 656px) {
  .informacion .ilustracion {
    flex-wrap: wrap;
  }
  .informacion .ilustracion .product-img {
    width: 15%;
  }
}
.formulario {
  border-radius: 0 2rem;
  box-shadow: 0 5px 5px 0 rgba(50, 50, 50, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: black;
  margin: calc(1rem + 10px);
}
.formulario .titulo {
  padding: 0 2rem;
}
.formulario p {
  font-family: "Reboto", sans-serif;
  color: white;
  font-size: 30px;
  font-weight: 400;
}
.formulario div {
  background-color: black;
  border-radius: 2rem;
  height: auto;
  align-items: center;
}
.formulario h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 70px;
  color: white;
  margin: 1rem 0 0 0;
}
.formulario .telefono {
  width: 50px;
  margin: 0 20px 8px;
}
.formulario .form {
  display: flex;
  flex-direction: row;
  gap: 0 3rem;
}
.formulario .form .form-control {
  margin: 0 0 5px;
  font-family: "Reboto", sans-serif;
}
.formulario .form .mb-3 textarea {
  height: 85px;
  font-family: "Reboto", sans-serif;
}
.formulario .form .form-label {
  font-family: "Reboto", sans-serif;
  font-weight: 500;
  margin: 3px 0 3px 0;
  color: white;
  width: 16rem;
}
.formulario .form .btn {
  margin: 1rem;
}
.formulario .form .btn:hover {
  filter: invert(1);
  transition: filter 0.5s;
}

@media (max-width: 1080px) {
  .formulario .form {
    flex-direction: column;
  }
}
* {
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
}

body {
  background-color: #cacaca;
  height: 100%;
  width: 100%;
}

main .h2 {
  border-radius: 0 2rem;
  box-shadow: 0 5px 5px 0 rgba(50, 50, 50, 0.3);
  margin: calc(1rem + 10px);
  background-color: black;
  color: rgb(255, 255, 255);
  padding: 0.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
}
main .ind {
  margin: 0 1rem 0 1rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
main .ind .ind-img {
  height: 70vh;
}
main .ind .ind-img img {
  height: 100%;
  border-radius: 0 2rem;
  box-shadow: 0 5px 5px 0 rgba(50, 50, 50, 0.3);
}
main .ind .ind-texto {
  border-radius: 0 2rem;
  box-shadow: 0 5px 5px 0 rgba(50, 50, 50, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  padding: 2rem;
}
main .ind .ind-texto h3 {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 3px;
  color: white;
  margin-bottom: 1rem;
}
main .ind .ind-texto p {
  font-family: "Reboto", sans-serif;
  font-weight: 300;
  letter-spacing: 1.5px;
  text-align: center;
  color: white;
}
main .ind .ind-texto .btns {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
main .ind .ind-texto .btns .btn {
  border-radius: 0 5px 0 5px;
  font-family: "Reboto", sans-serif;
  letter-spacing: 1px;
}
main .ind .ind-texto .btns .btn:hover {
  filter: invert(1);
  transition: filter 0.5s;
}
main .ind .ind-texto .btns select {
  background-color: #212529;
  color: white;
  border-radius: 0 5px 0 5px;
  width: 2.5rem;
}
main .ind .ind-texto .btns h4 {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2px;
  font-size: 300;
  color: white;
  margin: 6px 0 0 0;
}
main .ind .ind-texto .btns .carro {
  width: 38px;
  background-color: #212529;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 5px 0 5px;
}
main .ind .ind-texto .btns .carro:hover {
  filter: invert(1);
  transition: filter 0.5s;
}
main .ind .ind-texto .btns .carro img {
  width: 100%;
}

@media (max-width: 992px) {
  main .ind {
    flex-direction: column;
  }
  main .ind .ind-img img {
    height: 50%;
  }
}

/*# sourceMappingURL=styles.css.map */
