* {
    margin:0;
    padding:0;
    /* border: 1px solid red; */
 }

@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300&family=Lora:ital@1&family=Montserrat:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

  body{
    background-color: #cacaca;
    height: 100%;
    width: 100%;
  }

 /** Inicio de Header **/

 .header{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 5rem;
    width: 100%;
    /* margin: 0 1rem 0 1rem; */
    background-color: rgba(0, 0, 0, 0.925);
    border-radius: 0 1.5rem;
    box-shadow: 0 3px 3px 0 rgba(50, 50, 50, 0.30);
    padding: 0 20px;
    justify-content: space-evenly;
    position: sticky;
    top: 10px;
    z-index: 5;
 }

 .carrito img{
  height: 30px;
  margin: 0 1rem;
 }

 .carrito img:hover{
  scale: 1.05;
 }

 .logo{
    width: auto;
    height: auto;
    margin-left: 4rem;
 }

 .header .logo img{
    align-items: center;
    position: relative;
    width: 9rem;
 }

 .header nav{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 2rem;
 }
 
 nav .navLinks{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    margin: 0 5px;
 }

 .navLinks a{
    position: relative;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    font-weight: 600;
    color: rgb(255, 255, 255);
    margin: 0 1rem;
 }

 .navLinks li:hover{
    scale: 1.08;
 }

 .navLinks a:hover{
    color: rgb(139, 139, 139);
    text-decoration: none;
    transition: 0.2s;
}

 nav .icons{
    height: auto;
    width: 18%;
    display: flex;
    justify-content: space-around;
    padding-right: 1%;
 }

 .icons img{
    height: 2rem;
    width: auto;
 }

 nav .busqueda{
    width: 14rem;
    height: 1.5rem;
    background-color: rgb(34, 34, 34);
    display: flex;
    flex-direction: row;
    border-radius: 1rem;
    margin: 10px;
    justify-content: space-around;
 }

 .busqueda a{
    display: flex;
    align-items: center;
 }

 .busqueda img{
    height: 1rem;
    width: auto;
    align-items: center;
    margin: auto;
 }

 .busqueda .buscar{
    height: auto;
    width: 7rem;
    background: none;
    border: none;
 }

 .carrito{
    height: 30px;
    width: auto;
    margin-right: 4rem;
 }

 .checkbtn{
    width: 30px;
    height: auto;
    cursor: pointer;
    display: none;
    margin-right: 2rem;
    font-size: 30px;
    color: white;
 }

 .menu{
    height: 25px;
    margin-bottom: 8px;
 }

 #check{
    display: none;
 }
  /** Fin de Header **/

  /** Inicio de Main **/

  .main{
    margin: 2rem;
  }

  .carousel{
    background-color: black;
    border-radius: 0 2rem;
    box-shadow: 0 2px 2px 0 rgb(75, 75, 75);
  }

  .carousel-caption{
    left: 50%;
    top: 30%;
  }

  .d-md-block h3{
    color: #F4F3F0;
    font-weight: 700;
  }

  .d-md-block p{
    color: #F4F3F0;
    margin: none;
    font-weight: 400;
  }

  .btn-main{
    border-radius: 5px 0;
  }

  .active{
    color: white;
  }

  .d-img{
    display: flex;
    justify-content: center;
    margin: 0 20%;
    padding: auto;
    border-radius: 0 1rem;
    height: 25rem;
  }

  .d-img:hover{
    scale: 1.05;
  }

  .info-cont{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 1rem;
    margin: 3rem 0 1rem 0;
    border-radius: 0 2rem;
    box-shadow: 0 2px 2px 0 rgb(75, 75, 75);
  }

  .info{
    display: flex;
    justify-content: center;
  }
  .info h1{
    margin: 1rem 1rem;
    font-weight: 700;
  }

  .info-2{
    margin-bottom: 2rem;
  }

  .info-2 h2{
    display: inline-block;
    margin: 1rem;
    font-size: 2rem;
  }

  .info-2 p{
    font-weight: 400;
  }

  .btn:hover{
    scale: 1.05;
  }

  /** Fin de Main **/

  /**Inicio de Productos**/

  .articulos{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .articulos h2{
    display: flex;
    justify-content: center;
    margin: 2rem;
    background-color: black;
    color: white;
    border-radius: 0 1rem;
    padding: 0.5rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    box-shadow: 0 2px 2px 0 rgb(75, 75, 75);
  }

  .cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }

  .card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18rem;
    background-color: white;
    border-radius: 0 1rem;
    box-shadow: 0 2px 2px 0 rgb(75, 75, 75);
  }

  .card img:hover{  /**Este hover es para poder ampliar la img en futuro**/
    scale: 1.02;
  }

  .card a{
    display: flex;
    justify-content: center;
    width: 12rem;
    margin: 10px;
  }

  .card a:hover{
    scale: 1.03;
  }

  .card img{
    width: 12rem;
    margin: 20px 0 0 0;
    border-radius: 0 1rem;
  }

  .card-body{
    margin: 8px;
    padding: 0;
  }

  .card-title{
    color: black;
    text-align: center;
    font-size: x-large;
  }

  .card-text{
    color: black;
    text-align: center;
    font-size: large;
    margin: 8px;
  }



  /**Fin de Productos**/

  /**Inicio de Contacto **/

  .formulario{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    border-radius: 0rem 2rem;
    margin: 2rem 1rem;
  }
  
  .formulario div{
    background-color: rgb(rgb(20, 20, 20));
    border-radius: 2rem;
    height: auto;
  }

  .formulario h2{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    color: white;
    margin: 1rem;
  }

  .formulario p{
    color: white;
    margin: 1rem;
  }

  .form-control{
    margin: 0 0 5px;
  }

  .mb-3 textarea{
    height: 85px;
  }

  .form-label{
    font-weight: 500;
    margin: 3px 0 3px 0;
    color: white;
  }

  .btn{
    margin-right: 1rem;
  }

  /**Fin de Contacto **/

  /**Inicio de Sublimados **/

  .info{
    display: flex;
    flex-direction: column;
    margin: 2rem 1rem;
    background-color: white;
    padding: 1rem;
    border-radius: 0 2rem;
    box-shadow: 0 3px 3px 0 rgba(50, 50, 50, 0.30);
  }

  .info h2{
    font-weight: 700;
    margin: 1rem
  }
  
  .productos{
    display: flex;
    flex-direction: column;
  }

  .art-1 p{
    margin-left: 15px;
    color: black;
  }
  .art-1 img{
    width: auto;
    height: 300px;
    margin-left: 15px;
    border-radius: 0 2rem;
    box-shadow: 0 3px 3px 0 rgba(50, 50, 50, 0.30);
  }

  .art-2 img{
    width: auto;
    height: 300px;
    margin-left: 15px;
    border-radius: 0 2rem;
    box-shadow: 0 3px 3px 0 rgba(50, 50, 50, 0.30);
  }
  .art-2 p{
    margin-left: 15px;
    color: black;
  }

  .art-3 img{
    width: auto;
    height: 300px;
    margin-left: 15px;
    border-radius: 0 2rem;
    box-shadow: 0 3px 3px 0 rgba(50, 50, 50, 0.30);
  }
  .art-3 p{
    margin-left: 15px;
    color: black;
  }

  .imgs-1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 1rem 0;
  }

    /**Fin de Sublimados **/

    /**Inicio de Envios **/

  .div-1 img{
    height: 2rem;
  }

  .info h2{
    background-color: white;
    border-radius: 0 2rem;
    margin: 1rem;
    padding: 1rem;
    box-shadow: 0 3px 3px 0 rgba(50, 50, 50, 0.30)
  }

  .productos{
    margin: 15px 0 0 15px;
  }

  .div-2 a{
    text-decoration: none;
    font-weight: bold;
  }

    /** Inicio de Footer **/

    footer{
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 1rem 1rem;
    }
  
    .pago-envio{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
  
    .pago-envio .pago{
      margin: 1rem;
      padding: 1rem;
      background-color: rgba(0, 0, 0, 0.842);
      border-radius: 0 1rem;
      box-shadow: 0 3px 3px 0 rgba(50, 50, 50, 0.30);
    }
  
    .pago h4{
      display: flex;
      margin: 5px 0 10px 0;
      justify-content: center;
      font-family: "Hind Madurai", sans-serif;
      font-size: large;
      color: white;
    }
  
    .pago img{
      height: 2rem;
      width: auto;
    }
  
    .pago-envio .envio{
      margin: 1rem;
      padding: 1rem;
      background-color: rgba(0, 0, 0, 0.842);
      border-radius: 0 1rem;
      box-shadow: 0 3px 3px 0 rgba(50, 50, 50, 0.30);
    }
  
    .envio h4{
      display: flex;
      margin: 5px 0 10px 0;
      justify-content: center;
      font-family: "Hind Madurai", sans-serif;;
      font-size: large;
      color: white;
    }
  
    .envio img{
      height: 2rem;
      width: auto;
      border-radius: 3px;
    }
  
    .politica{
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .politica ul{
      display: flex;
      list-style-type: none;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: 600;
      justify-content: space-evenly;
      margin: 1rem;
    }
  
    .politica li{
      margin: 1rem;
    }
  
    .politica .text{
      text-decoration: none;
    }

    
   /* Media Queris */

   @media (max-width: 1140px){
    .header{
      justify-content: start;
      align-items: center;
      padding: 14px;
      height: 5rem;
    }
    .logo{
      margin-left: 1rem;
    }
    .checkbtn{
      display: block;
      justify-content: end;
    }
    .header nav{
      flex-direction: column;
    }
    nav .navLinks{
      position: fixed;
      width: 100%;
      height: 100%;
      margin: 1rem 0;
      flex-direction: column;
      align-items: center;
      font-size: xx-large;
      background-color: rgba(0, 0, 0, 0.712);
      top: 74px;
      clip-path: circle(150% at top);
      transition: all 0.5s;
      z-index: 1;
    }
    .nav .navLinks:target{
      clip-path: circle(150% at top);
    }
    .formulario{
      flex-direction: column;
    }
    .btn{
      margin-bottom: 1rem;
    }
  }
  @media (max-width: 630px){
    .header .busqueda{
      display: none;
    }
  }












