.main-contacto{
    .formulario{
        @include shadow-border;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        background-color: black;
        margin: calc(1rem + 10px);
        .titulo{
            padding: 0 2rem;
        }
        p{
            @include parrafos;
            color: white;
            font-size: 30px;
            font-weight: 400;
        }
        div{
            background-color: black;
            border-radius: 2rem;
            height: auto;
            align-items: center;
        }
        h2{
            @include encabezado;
            font-weight: 700;
            font-size: 70px;
            color: white;
            margin: 1rem 0 0 0;
        }
        .telefono{
            width: 50px;
            margin: 0 20px 8px;
        }
        .form{
            display: flex;
            flex-direction: row;
            gap: 0 3rem;
            .form-control{
                margin: 0 0 5px;
                @include parrafos;
            }
            .mb-3 textarea{
                height: 85px;
                @include parrafos;
            }
            .form-label{
                @include parrafos;
                font-weight: 500;
                margin: 3px 0 3px 0;
                color: white;
                width: 16rem;
            }
            .btn{
                margin: 1rem;
                &:hover{
                    @include animacion-invert;
                }
            }
        }  
    }
}
