@import "base";
.informacion{
    h2{
        @include shadow-border;
        background-color: black;
        color: white;
        margin: 2rem;
        padding: 2rem;
    }
    .product{
        @include shadow-border;
        display: flex;
        flex-direction: column;
        margin: 2rem;
        background-color: white;
        padding: 2rem;
    }
    .div-1{
        img{
            height: 2rem;
        }
    }
    .div-2{
        a{
            text-decoration: none;
            font-weight: bold;
            color: black;
        }
    }
}