@import "base";
.title-2{
    @include shadow-border;
    @include titulo;
    display: flex;
    justify-content: center;

}
.info{
    @include shadow-border;
    display: flex;
    flex-direction: column;
    margin: 2rem 2rem;
    background-color: white;
    padding: 1rem;
    h2{
        @include shadow-border;
        @include titulo;
        display: flex;
        justify-content: center;
    }
    .productos{
        display: flex;
        flex-direction: column;
        padding-top: 1rem;
        .subproducto{
            .imgs-1{
                @include flex-row-center;
                margin: 1rem 0 1rem 0;
            }
        }
        .art-1{
            p{
            margin: 0 2rem;
            @include parrafos;
            font-size: 18px;
            letter-spacing: 1px;
            color: black;
            }
            img{
                @include shadow-border;
                width: auto;
                height: 300px;
                margin-left: 15px;
            }
        }
        .art-2{
            img{
                @include shadow-border;
                width: auto;
                height: 300px;
                margin-left: 15px;
            }
            p{
                @include parrafos;
                font-size: 18px;
                letter-spacing: 1px;
                margin: 0 2rem;
                color: black;
            }
        }
        .art-3{ 
            img{
                @include shadow-border;
                width: auto;
                height: 300px;
                margin-left: 15px;
            }
            p{
                @include parrafos;
                font-size: 18px;
                letter-spacing: 1px;
                margin: 0 2rem;
                color: black;
            }
        }
    }
}
@media (max-width: 1300px){
    .info{
        .productos{
            margin: 0;
            .subproducto{
                .imgs-1{
                    flex-wrap: wrap;
                    gap: 5px;
                }
            }
        }
    }
}
@media (max-width: 1085px){
    .info{
        .productos{
            margin: 0;
            .subproducto{
                .imgs-1{
                    flex-wrap: wrap;
                    gap: 5px;
                    img{
                    height: 200px;
                    }
                }
            }
        }
    }
}
@media (max-width: 576px){
    .info{
        .productos{
            margin: 0;
            .subproducto{
                .imgs-1{
                    flex-wrap: wrap;
                    gap: 5px;
                    img{
                    height: 150px;
                    }
                }
            }
        }
    }
}